
.navbar-inverse{
	background-color: #38A7A7;
	border-color: #A70077;
}

.navbar-inverse .navbar-nav > li > a{
	color:#fff;
}

.navbar-inverse .navbar-brand{
	color:#fff;
}


/****PANNELLO RICARICA IN CORSO***/
.rTitle{
	padding:20px;
	font-weight: bold;
	font-size:18px;
}

.rBody{
	font-size:18px;
	padding:20px;
}

.medium{
	font-size:34px;
}

/***GESTIONE UTENTE*****/
#editUser{
	display:none;
}

#profileUser tr:first-child td{
	border-top:none;
}

#profileUser tr td:first-child{
	font-weight: bold;
}